.TriviaImage{
display: block;
margin-left: auto;
margin-right: auto;

}

h2{
text-align: center;
padding-left: 50px;

}

#StartButton{
  padding: 10px;
  color: orange;
  background-color: black;
  margin-right: auto;
  margin-left: 50%;
}

#userChoices{
  text-align: center;
  /* margin-left: 50%; */
}